name: Syntax

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  syntax:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run bash syntax checks
        run: make syntax

